{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who is on<mark>my team</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Tanay Patel (Scrum Lord)</li>
                            <li>Yuri Subramaniam (Dev Ops)</li>
                            <li>Harsha Jaisankar Gnanam(Frontend Developer)</li>
                            <li>Raunak Mondal (First Backend Developer)</li>
                            <li>Sachit Prasad (Second Backend Developer)</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who <mark>am</mark> I?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am Raunak Mondal</li>
                            <li>I was born on September 1st, 2007 in Bangalore, India</li>
                            <li>I moved to San Diego when I was 2 years old</li>
                            <li>I am very proud to live in America's Finest City!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Why am <mark>I</mark> taking this class?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I have coded in HTML, Javascript, CSS, Java, and Python for 8 years</li>
                            <li>In those 8 years, I've worked on both frontend and backend development</li>
                            <li>My applications in CS have been immense, from programming fun games to applying AI in real-world scenarios</li>
                            <li>I have deeply loved coding consistently for all 8 years!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}